
body{
  background-color: #282c34;
  font-family: 'IBM Plex Mono', monospace;
  opacity: .9;

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url( /home/gux/NewPortfolio/newportfolio/public/veloci.png);
}


.container{
  border-radius: 10px;
  margin: 50px;
  padding:30px;
  
}

#image-container {
  width: 300px;
  height: 300px;
}

#image {
  width: 400px;
  height: 100%;
}

.custom-color-picker {
  margin: 10px;
/* visibility: hidden; */
}

nav:hover + .custom-color-picker{
  margin: 10px;

}


.blog-title{
  margin:30px;
  margin-top: 90px;
margin-left: 70px;
}

.poem{
  margin-left: 70px;
}

.poem ul{
  list-style-type: none;
}

#comment-box{
  width:800px;
  border-radius: 15px;
  height:424px;
  border:2px solid black;
}


.hidden{
  visibility: hidden;
}

#hiddenF{
  visibility: hidden;
  height:1px;
  display: none;
}

#visibileF{
  visibility: visible;
}

.arrow:hover{
  cursor: pointer;
  text-decoration: underline;
}

.arrow{
  padding-left:3rem;
  margin-top:10px;
}

.veloci{
  opacity: 10%;
  position:absolute;
  /* left:400px;
  top:-10px; */

}

.change{
  border:2px solid black;
  margin:1rem;
  padding:5px;
  border-radius: 5px;
  background-color:#282c34;
  color: aliceblue;
}