
body{
  background-color: #282c34;
  font-family: 'IBM Plex Mono', monospace;
}

.container{
  border-radius: 10px;
  margin:20px;
  padding: 10px;
}

#image-container {
  width: 300px;
  height: 300px;
}

#image {
  width: 400px;
  height: 100%;
}

.custom-color-picker {
  margin: 10px;
}

.container{
  margin: 50px;
  padding:30px;
}

.blog-title{
  margin:30px;
  margin-top: 90px;
margin-left: 70px;
}

.poem{
  margin-left: 70px;
}

.poem ul{
  list-style-type: none;
}